//componenets (button, anchor tags, heading tags etc)
body {
    color: #262626;
    font-size: 16px;
    @include secondary-font;
    &.wp-admin {
        font-family:
            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
            sans-serif;
        .icon-selector .acf-icon-list {
            background-color: $primary !important;
        }
        .editor-styles-wrapper {
            .wp-block-post-title {
                max-width: initial;
            }
        }
    }
}

html {
    font-size: 100%;
}

:root {
    --bs-gutter-x: 15px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @include primary-font;
}

h1,
.h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 16px;
    color: $black;
}

h2,
.h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    color: $black;
    margin-bottom: 16px;
}

h3,
.h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: $black;
}

h4,
.h4 {
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    color: $black;
}

h5,
.h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: $black;
    text-transform: none;
}

h6,
.h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: $black;
    text-transform: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    display: block;
}

p {
    line-height: 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #262626;
    @include secondary-font;
}

p.has-large-font-size {
    font-size: 26px !important;
    line-height: 36px;
}

p + ul,
p + ol {
    margin-top: -15px;
}

a {
    color: #002f54;
    font-weight: 600;
    text-decoration-line: underline;
    &:hover {
        color: #2d5c7f;
        text-decoration: underline;
        text-decoration-style: solid !important;
    }
}

p a {
    color: #002f54;
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-style: solid !important;
    &:hover {
        color: #2d5c7f;
        text-decoration: underline;
    }
}

p a:hover {
}

b,
strong {
    font-weight: 700;
}

.row-gap {
    row-gap: 24px;
}

//general rules
.link {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    img {
        max-width: 18px;
        margin-left: 6px;
    }
    &:hover {
        color: $primary;
    }
}

.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}

.btn_sm {
    color: $primary;
    padding: 16px;
    display: inline-block;
    text-align: center;
    position: relative;
    background: $white;
    font-family: $primary-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    line-height: 1;
    border: 1px solid $primary;
    border-radius: 0px;
    min-width: 120px;
    &:hover,
    &:focus-within {
        background: $blue;
        color: #fff;
        border-color: $blue;
        text-decoration: none;
        img {
        }
    }
    img {
        margin-left: 10px;
    }
    &:focus-visible {
        // color: #000;
        outline: 1px auto #c942ff;
    }
    &.secondary {
        // padding: 8px 0;
        background: #002f54;
        color: $white;
        &:hover,
        &:focus-within {
            background: #2d5c7f;
            // text-decoration: underline;
            img {
            }
        }
    }
}

.container {
    max-width: 1230px;
    padding-right: var(--bs-gutter-x);
    padding-left: var(--bs-gutter-x);
}
.row {
    margin-right: calc(-1 * var(--bs-gutter-x));
    margin-left: calc(-1 * var(--bs-gutter-x));
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: var(--bs-gutter-x);
    padding-left: var(--bs-gutter-x);
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
}

.form-control {
    min-height: 50px;
    border: 1px solid var(--Charcoal-Gray, #67686A);
    background-color: var(--White, #FFF);
    border-radius: 0px;
    padding: 8px 12px;
    font-size: 15px;
}

.no-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.sm-gutters > .col,
.sm-gutters > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

select {
    min-height: 50px;
    background-image: url(../img/select-arrow.svg);
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: top 20px right 12px;
    min-width: 130px;
    background-size: 14px;
    color: $black;
    border: 1px solid #000;
    border-radius: 5px;
    &.form-control {
        color: #555554;
        cursor: pointer;
        min-height: 50px;
    }
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid var(--Black---70, #222);
    background: var(--Grayscale-White, #fff);
    min-height: auto;
    appearance: initial;
    &:checked {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M10.0705 3.13127C10.2467 3.30752 10.2467 3.59252 10.0705 3.7669L5.12047 8.71877C4.94422 8.89502 4.65922 8.89502 4.48484 8.71877L1.93297 6.16877C1.75672 5.99252 1.75672 5.70752 1.93297 5.53315C2.10922 5.35877 2.39422 5.3569 2.56859 5.53315L4.79984 7.7644L9.43297 3.13127C9.60922 2.95502 9.89422 2.95502 10.0686 3.13127H10.0705Z" fill="%23052E70"/></svg>');
        background-size: contain;
        &::before {
            display: none !important;
        }
    }
}
input[type="radio"] {
    width: 12px;
    height: 12px;
    appearance: none;
    border: 1px solid var(--Black---70, #222) !important;
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:checked::after {
        content: "";
        width: 9px;
        height: 9px;
        display: block;
        background: #052e70;
        border-radius: 50%;
        margin: auto;
    }
    &::before {
        display: none !important;
    }
}
.checkboxes {
    label {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 8px;
        line-height: 24px;
    }
}

.search-box {
    .btn {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        z-index: 9;
        transition: none;
        &:hover {
            img {
            }
        }
    }
    .form-control {
        color: #000;
    }
    ::-webkit-input-placeholder {
        color: #000;
    }
    ::-moz-placeholder {
        color: #000;
    }
    :-ms-input-placeholder {
        color: #000;
    }
    :-moz-placeholder {
        color: #000;
    }
}

label.title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #d9d9d9;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 20px;
}
::-webkit-input-placeholder {
    color: #36393f !important;
    opacity: 1 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

::-moz-placeholder {
    color: #36393f !important;
    opacity: 1 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

:-ms-input-placeholder {
    color: #36393f !important;
    opacity: 1 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

:-moz-placeholder {
    color: #36393f !important;
    opacity: 1 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

.reset {
    font-size: 16px;
    background: none;
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover {
        text-decoration: underline;
        svg {
            filter: brightness(0) saturate(100%) invert(28%) sepia(88%) saturate(2780%) hue-rotate(192deg)
                brightness(94%) contrast(101%);
        }
    }
}
